<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="MemoryCleaner"
    Manufacturer="MemoryCleaner"
    Version="$(var.ProductVersion)"
    UpgradeCode="417f25db-82dc-4f96-b082-c88076994edd"
    Scope="perMachine"
    Codepage="65001">

    <MajorUpgrade DowngradeErrorMessage="已安装更新版本的 MemoryCleaner。" />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon.ico" SourceFile="$(var.ProjectDir)\Assets\tray.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="INSTALLFOLDER">
      <RegistrySearch
        Id="PreviousInstallDirSearch"
        Root="HKLM"
        Key="Software\MemoryCleaner"
        Name="InstallDir"
        Type="raw" />
    </Property>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Installer\License.rtf" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="MemoryCleaner">
        <Component Id="MemoryCleanerExe" Guid="*">
          <File
            Id="MemoryCleanerExeFile"
            Source="$(var.PublishDir)\MemoryCleaner.exe"
            KeyPath="yes" />
          <Shortcut
            Id="StartMenuShortcut"
            Directory="ApplicationProgramsFolder"
            Name="MemoryCleaner"
            Description="MemoryCleaner 内存优化悬浮球"
            WorkingDirectory="INSTALLFOLDER"
            Icon="AppIcon.ico"
            Advertise="true" />
          <RegistryValue
            Root="HKLM"
            Key="Software\MemoryCleaner"
            Name="InstallDir"
            Type="string"
            Value="[INSTALLFOLDER]" />
        </Component>

        <Component Id="AvaloniaAngleNative" Guid="*">
          <File Source="$(var.PublishDir)\av_libglesv2.dll" KeyPath="yes" />
        </Component>

        <Component Id="HarfBuzzNative" Guid="*">
          <File Source="$(var.PublishDir)\libHarfBuzzSharp.dll" KeyPath="yes" />
        </Component>

        <Component Id="SkiaNative" Guid="*">
          <File Source="$(var.PublishDir)\libSkiaSharp.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="MemoryCleaner">
        <Component Id="ApplicationProgramsFolderComponent" Guid="2a55773d-a4f4-408a-a6d3-c89bf2bb34e3">
          <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\MemoryCleaner"
            Name="StartMenuFolder"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="MemoryCleaner" Level="1">
      <ComponentRef Id="MemoryCleanerExe" />
      <ComponentRef Id="AvaloniaAngleNative" />
      <ComponentRef Id="HarfBuzzNative" />
      <ComponentRef Id="SkiaNative" />
      <ComponentRef Id="ApplicationProgramsFolderComponent" />
    </Feature>
  </Package>
</Wix>
